<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055006854603-4295cio03fkn0djsdskb04gqnmcc0f8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055006854603-4295cio03fkn0djsdskb04gqnmcc0f8t</string>
	<key>API_KEY</key>
	<string>AIzaSyAjx2mUwg2_LTS6jtu8P8zrzOmaZZYXyX4</string>
	<key>GCM_SENDER_ID</key>
	<string>1055006854603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorum</string>
	<key>PROJECT_ID</key>
	<string>doctorum-f4155</string>
	<key>STORAGE_BUCKET</key>
	<string>doctorum-f4155.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055006854603:ios:5eb43f1c2927c796ed3a4e</string>
</dict>
</plist>